@model User
<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Thêm các tùy chỉnh CSS của bạn ở đây nếu cần */
        body {
            background-color: #f8f9fa; /* Màu nền của trang là màu xám nhạt */
            color: #343a40; /* Màu văn bản là màu đen */
        }

        .container {
            margin-top: 50px;
        }

        .card {
            margin-bottom: 20px;
        }

        .card-header {
            background-color: black; /* Màu header của card là màu đen */
            color: #fff; /* Màu văn bản của header là màu trắng */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Create User
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Username:</label>
                                <textarea asp-for="Username" class="form-control" id="usernameid" rows="1"></textarea>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="name">Password:</label>
                                <input asp-for="Password" class="form-control" id="password" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Email:</label>
                                <textarea asp-for="Email" class="form-control" id="email" rows="1"></textarea>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="expectedDuration">FirstName:</label>
                                <input asp-for="FirstName" type="text" class="form-control" id="firstname" required>
                            </div>

                            <div class="form-group">
                                <label for="paymentAmount">LastName:</label>
                                <input asp-for="LastName" type="text" class="form-control" id="lastname" required>
                            </div>
                           



                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Save</button>
                    <a href="@Url.Action("ShowUsers", "Admin")" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
