<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PBL3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PBL3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Freelancer</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap">
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
            <link rel="stylesheet" type="text/css" href="~/css/adminview.css">


        </head>
        <body>
            <div class="banner">
                <div class="head">
                    <div class=" left">
                        <a class="trangchu" href="view.html">
                            <img src="~/image/Untitled.png" class="logo">
                        </a>

                        <h1>Admin</h1>

                    </div>
                    <div class="right">
                    </div>
                </div>

                <div class="blackmenu">

                    <a class="black" asp-controller="Admin" asp-action="ShowUsers">Users</a>
                    <a class="black" asp-controller="Admin" asp-action="ShowJob">Jobs</a>

                </div>





            </div>

            </div>
        </body>
    </html>
    <style>



    </style>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PBL3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
