<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/FLCWork123abc.css">
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    @RenderBody()
    <script src="~/js/FLCWork123.js"></script>
</body>

</html>
