<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/PP123.css">
    <style>
        import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

        body {
            font-family: "Inria Sans", sans-serif;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    @RenderBody()
    <script src="~/js/PProject123.js"></script>
</body>

</html>
