<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post a Project</title>
    <meta charset="url-8">
    <link rel="stylesheet" href="~/css/PostAProject.css">
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
