<!DOCTYPE html>
<html>

<head>
    <title>BrowseFreelancer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/BrowseFreelancer.css">
    <style>


       
    </style>
</head>


<div class="menu"> </div>
<div class="menulist">
    <div>
        <h1 id="WFL" class="menuText" style="font-style: italic;">
            WFL.com
        </h1>
        <h1 id="Browse" , class="menuText">
            Browse
        </h1>
        <h1 id="pAP" , class="menuText">
            Post a project
        </h1>
    </div>
    <div>
        <div id="noti" , class="menucpn">
        </div>
        <div id="folder" , class="menucpn">
        </div>
        <div id="profile" , class="menucpn">
        </div>
        <div id="profile_name" , class="menucpn">
            username
        </div>
    </div>
</div>
    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
