@{
    ViewData["Title"] = "Error Posting Project";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Error Posting Project</h2>
<p>There was an error posting your project. Please try again.</p>
