@using PBL3.ViewModels
@{
    Layout = "headerlayout";
}

@model PasswordViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Setting</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/SettingPWW.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>


    </style>
</head>
<body>


    <div id="password" class="contents">
        <form asp-controller="User" asp-action="ChangePassword">
            <div>
                <h2 id="changepw" , class="contents">
                    Change Password
                </h2>

                <h3 id="currentpw" , class="contents">
                    Current Password
                </h3>
                <input asp-for="currentPW" type="password" , id="text_crpw" class="contents" , style="font-size: 20px; border-radius: 5px;">
                <h6 id="checktext1" style="color: red;"></h6>
                <h3 id="newpw" , class="contents">
                    New Password
                </h3>
                <input asp-for="newPW" type="password" , id="text_npw" class="contents" , style="font-size: 20px; border-radius: 5px;">
                <h3 id="confirmpw" , class="contents">
                    Confirm Password
                </h3>
                <input asp-for="rePW" type="password" , id="text_cpw" class="contents" , style="font-size: 20px; border-radius: 5px;">
            </div>

            <div style="color : red; margin-left: 30px; margin-top:20px;" class="txt"> <h3 class="textdanger">@ViewBag.ErrorMessage</h3> </div>
            <div style="color : red" class="txt"> <h3 class="textdanger">@ViewBag.Success</h3> </div>


            <h6 id="checktext2" style="color: red;"></h6>
            <button type="submit" id="save" , class="contents">
                Save Settings
            </button>



        </form>
    </div>



</body>
</html>