
<div id="container" style="display: flex;">
    <div class="sub_container"
         style="margin-top: 50px; margin-left: 120px; width: 200px; place-items: center; cursor: pointer;">
        <img src="~/image/project.png" style="width: 32px; height: 32px; padding-left: 85px;">
        <p style="flex-wrap: wrap; text-align: center;">
            Explore exciting new project
            opportunities now
        </p>
    </div>
    <div class="sub_container"
         style="margin-top: 50px; margin-left: 30px; width: 200px; place-items: center; cursor: pointer;">
        <img src="~/image/ava.png" style="width: 32px; height: 32px; padding-left: 85px;">
        <p style="flex-wrap: wrap; text-align: center;">
            Find top-rated freelancer for your
            project
        </p>
    </div>
</div>