
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color: #f8f9fa;
    color: #343a40;
    margin-top: 20px;
    height: 100vh;
}

/*.card-header {
    background-color: black;
    color: #fff;
}

.card-body {
    margin-top: 20px;
}

.card-text {
    margin-bottom: 10px;
}
.text-right mt-3
{
display: flex;
justify-content: right;
}
.card{
    display: flex;
}
*/
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}
