body {
    margin: 0px;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.div-head {
    flex: 6;
    margin-left: -150px;
}

#tellus {
    margin-left: 15%;
    margin-top: 5%;
    font-size: 50px;
}

.sub_container {
    margin-left: 15%;
}

input {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

#des {
    width: 40%;
    height: 10vh;
    resize: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.duration {
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 2%;
    font-size: 15px;
}

option {
    padding: 5px 5px 5px 5px;
}

.type_option {
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 8%;
    font-size: 15px;
}

.amount {
    margin-left: 15%;
}

    .amount input {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 15px;
        border-radius: 5px;
        width: 30%;
        height: 50%;
    }

.cols {
    width: 200px;
    margin-right: 50px;
}

input[type="submit"] {
    margin-left: 30%;
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
}



.div-second {
    width: 40vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

    .div-second img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
